<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Sistema de autogestion medica</h1>
            <h3 class="mb-5">
                <em>Almacena tus ordenes medicas para una mejor gestion de tus resultados y mas eficiencia en tu atencion!
                </em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Inicio de sesion
            </a>

            <a class="btn btn-success btn-lg" href="/signup">Registro</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>